<div id="settings">
  <div class="widget-settings" ng-class="{'widget-settings-open': map.showOptions, 'widget-settings-offscreen': !map.showOptions}">
    <div class="widget-settings-shim" ng-click="map.toggleOptionPanel()"></div>
    <div class="widget-settings-pane">
      <div flex="100" layout="column">
        <div class="widget-setting-content">
          <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
              <span>Options</span>
            </h2>
          </md-toolbar>
          <div flex="80" layout="row">
            <md-button flex="50">Book</md-button>
            <md-button flex="50">Game</md-button>
          </div>
          <div flex="80" layout="row">
            <md-button flex="50">2033</md-button>
            <md-button flex="50">2034</md-button>
          </div>
          <div class="language-settings" flex="20" layout="row">
            <md-icon md-font-icon="material-icons">language</md-icon>
            <md-button ng-class="{'md-raised md-primary': map.language == 0}" ng-click="map.changeNames(0)">EN</md-button>
            <md-button ng-class="{'md-raised md-primary': map.language == 2}" ng-click="map.changeNames(2)">ES</md-button>
            <md-button ng-class="{'md-raised md-primary': map.language == 1}" ng-click="map.changeNames(1)">RU</md-button>
          </div>
          <footer class="made-with-heart">
            <span>
              <span class="octicon octicon-pencil"></span>
              with
              <span class="octicon octicon-heart"></span>
              by
              <a href="https://github.com/arguser">arguser</a>
              and
              <a href="https://github.com/MightyGoatMan">MightyGoatMan</a>
            </span>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
