* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-family: 'Roboto';
    font-size: 15px;
}

.form-search {
    border: none;
    border-radius: 2px;
    padding: 12px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    outline: none;
}

.panel {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.panel-toggle-button {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    width: 22px;
    height: 42px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.panel-header-image {
    overflow: hidden;
    height: 256px;
}
.panel-header-image img {
    width: auto;
    height: 100%;
    transform: translateX(-25%);
}

.panel-header-description {
    background-color: #4285F4;
    color: #FFFFFF;
    padding: 20px 25px;
}

.panel-header-title {
    font-size: 18px;
}

.panel-header-subtitle {
    font-size: 13px;
    margin-top: 4px;
}

.panel-header-number {
  position: relative;
  font-size: 36pt;
  float: right;
  bottom: 50px;
}

.panel-content {
    padding: 20px 25px;
}

.panel-content-title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 12px;
}

.panel-content-text {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    line-height: 19.5px;
}

#toolbar .form-search {
    width: 380px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

#toolbar .panel {
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
}

#toolbar .panel-toggle-button {
    top: 10px;
}

#toolbar .panel-autocomplete {
    width: 380px;
    height: auto;
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 100;
    overflow-x: auto;
}
